<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Envío exitoso</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
<div class="alert alert-success text-center p-4 shadow rounded-4">
<h3>¡Ticket registrado correctamente!</h3> <br>
<h3>Su código de ticket es: <strong>{{ codigo_ticket }}</strong></h3>
 <a href="/tickets/registrar/" class="btn btn-primary mt-3">Registrar otro</a>
</div>
</div>
</body>
</html>